# Python cache files
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment variables file
.env

# IDE-specific files
.idea/
.vscode/

# This is the repomix genared file that
# contains the whole repo content for
# submitting to AIs, like Claude
lumino-sdk-python.txt

# OS-specific files
.DS_Store
Thumbs.db